@charset "utf-8";


.lent_option-wrap{
	display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

}

.lent_option_box {
	padding: 40 200 40 200;
    margin: 4px;
    border: 5px solid darkgray;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #ffe1b2;
}

.lent_option_box img{
	height: 80px;
}

